<div class="container h-100">
	<div class="header">
		<h3 align="left">About Us</h3>
	</div>

	<div class="about-us">
		<p id="p1"><small>
			We want to help make the world a greener place today and so can you.
			Treeable is a mobile web app that strives to improve people's recyling habits.
			Treeable does this by making people compete with each other on a points system to see who is the
			best at recycling. Earning points is simple. A person simply has to take a picture of him or her
			recyling and upload it to show that he or she really did it that day. The more a person recycle, the
			more he or she earns and the higher ranking the person gets place.<br><br>

			We have 2 ranking systems, Global Leaderboard and Friends Leaderboard. Global Leaderboard compares a
			person to everyone in the world to see how well you do in recycling. The Friends Leaderboard on the
			other hand compares a person to his friend group who also uses the app. These 2 leaderboards will
			help the app users stay on top of their game. <br><br>

			After taking photos you can view them in your Gallery! all you hard work will be remember and for
			you and everyone to see.<br><br>

			There is also a disccussion board for users who are curious on recycling problems, such as "Where
			can I dispose of batteries". The discussion is meant to enhance a persons way of learning and
			sharing Recycling experience.<br>Join today, start recycling and have fun!.
		</small></p>
		<p id="contact">
			If there is any question feel free to contact us at hello@treeable.io
		</p>
		<p id="copyright">
			Copyright 2019 Treeable Recycling Foundation License
		</p>

	</div>
</div>