<div class="about-header">
	<h3 align="center">We are a mobile web app that strives to improve people's recyling habits</h3>
</div>

<div class="about-us">
	<p align="center">
		Earn points, Compete with friends, Get better
	</p>
</div>

<footer class="page-footer font-small">
	<div class="footer-copyright text-center">
		© 2019 Copyright: Treeable
	</div>
</footer>