<nav class="navbar fixed-top navbar-expand-md navbar-dark bg-navbar">
	<!-- Left item -->
	<ul class="navbar-nav mr-auto" id="nav-logo-area">
		<li class="nav-item" id="nav-item-logo">
			<a href="/home"><img src="logo.png" alt="logo" id="home-logo"></a>
        </li>
	</ul>
	
	<!-- Right item -->
	<ul class="navbar-nav ml-auto">
		<li class="nav-item">
			<a class="nav-link" type="button" onclick="window.history.back()">
				<i class="fa fa-times" aria-hidden="true"></i>
			</a>
		</li>
	</ul>
</nav>