<nav class="navbar navbar-default" role="navigation">
   	<a class="navbar-brand" href="#home">Treeable</a>
   	<div class="cancelButton">
   		<button class="btn btn-link my-2 my-xs-0 pull-right cancelButton" onclick="window.history.back();" type="submit"><span class="glyphicon glyphicon-remove"></span></button>
   	</div>
</nav>