<nav class="navbar fixed-top navbar-expand-md navbar-light bg-light">
	<ul class="navbar-nav mr-auto">
		<a href="/home" style="padding-right: 10px;">Treeable</a>
	</ul>

	<!-- Button when screen is small -->
	<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarText"
		aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation">
		<span class="navbar-toggler-icon"></span>
	</button>

	<div class="collapse navbar-collapse" id="navbarText">
		<!-- Left items -->
		<ul class="navbar-nav mr-auto">
			<li class="nav-item">
				<a class="nav-link" href="/leaderboard">
					<i class="fa fa-signal" aria-hidden="true"></i>
					Rank
				</a>
			</li>
			<li class="nav-item">
				<a class="nav-link" href="/discussion">
					<i class="fa fa-inbox" aria-hidden="true"></i>
					Discussion
				</a>
			</li>
			<li class="nav-item">
				<a class="nav-link" href="/gallery">
					<i class="fa fa-picture-o" aria-hidden="true"></i>
					Gallery
				</a>
			</li>
		</ul>
		
		<!-- Right items -->
		<ul class="navbar-nav ml-auto">
			<li class="nav-item">
				<a class="nav-link" href="/profile">
					<i class="fa fa-user-o" aria-hidden="true"></i>
					Profile
				</a>
			</li>
			<li class="nav-item">
				<a class="nav-link" href="/help">
					<i class="fa fa-cutlery" aria-hidden="true"></i>
					Help
				</a>
			</li>
			<li class="nav-item">
				<a class="nav-link" href="/">
					<i class="fa fa-sign-out" aria-hidden="true"></i>
					Log Out
				</a>
			</li>
		</ul>
	</div>
</nav>