<!doctype html>

<html>
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link href="/css/bootstrap.css" rel="stylesheet">
	<link href="/css/bootstrap-theme.css" rel="stylesheet">
	<link href="/css/about.css" rel="stylesheet">

<title>About Us</title>

</head>
<!-- Nav Bar!! -->
<nav class="navbar navbar-default navbar-fixed-top">
  	<div class="container-fluid">
	    <div class="navbar-header">
	      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target=".navbar-collapse" >
	        <span class="sr-only">Toggle navigation</span>
	        <span class="icon-bar"></span>
	        <span class="icon-bar"></span>
	        <span class="icon-bar"></span>
	      </button>
	      <a class="navbar-brand" href="home">Treeable</a>
    	</div>
	</div>

	<div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <!-- text on left -->
      <ul class="nav navbar-nav">
      	<li><a href="leaderboard"><span class="glyphicon glyphicon-signal"></span> Rank</a></li>
      	<li><a href="discussion"><span class="glyphicon glyphicon-inbox"></span> Discussion</a></li>
      	<li><a href="gallery"><span class="glyphicon glyphicon-film"></span> Gallery</a></li>	
      </ul> 	
		<!-- text on Right -->
      <ul class="nav navbar-nav navbar-right">
        <li><a href="profile"><span class="glyphicon glyphicon-user"></span> Profile</a></li>
        <li><a href="help"><span class="glyphicon glyphicon-cutlery"></span> Help</a></li>
      	<li><a href="index"><span class="glyphicon glyphicon-eject"></span> Log Out</a></li>
      </ul>
</nav>


<body>
	<div class="container h-100">
		<div class="header">
			<h1 align="left">About Us</h1>
		</div>

		<div class="about-us">
			<p id="p1"> 
				We want to help make the world a greener place today and so can you.
				Treeable is a mobile web app that strives to improve people's recyling habits.
				Treeable does this by making people compete with each other on a points system to see who is the best at recycling. Earning points is simple. A person simply has to take a picture of him or her recyling and upload it to show that he or she really did it that day. The more a person recycle, the more he or she earns and the higher ranking the person gets place.<br><br> 

				We have 2 ranking systems, Global Leaderboard and Friends Leaderboard. Global Leaderboard compares a person to everyone in the world to see how well you do in recycling. The Friends Leaderboard on the other hand compares a person to his friend group who also uses the app. These 2 leaderboards will help the app users stay on top of their game. <br><br>

				After taking photos you can view them in your Gallery! all you hard work will be remember and for you and everyone to see.<br><br>

				There is also a disccussion board for users who are curious on recycling problems, such as "Where can I dispose of batteries". The discussion is meant to enhance a persons way of learning and sharing Recycling experience.<br>Join today, start recycling and have fun!.
			</p>
			<p id="contact">
				If there is any question feel free to contact us at hello@treeable.io
			</p>
			<p id="copyright">
				Copyright 2019 Treeable Recycling Foundation License
			</p>

		</div>
	</div> 

	<script src="https://code.jquery.com/jquery.js"></script>
	<script src="/js/jquery-1.11.0.js"></script>
	<script src="/js/bootstrap.js"></script>
</body>
</html>
