<!doctype html>

<html>

	<head>
		<title>Discussions</title>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<link href="/css/bootstrap.css" rel="stylesheet">
		<link href="/css/bootstrap-grid.css" rel="stylesheet">
		<link href="/css/discussion.css" rel="stylesheet">
		<link rel="stylesheet"
			href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
		<script src="https://code.jquery.com/jquery.js"></script>
		<script src="/js/jquery-1.11.0.js"></script>
		<script src="/js/bootstrap.bundle.js"></script>
		<script src="/js/discussion.js"></script>
	</head>

	{{> navbar}}

	<body>
		<div class="container">
			<h2 class="text-center">Discussions</h2>

			<!-- Posts / need to add jQuery onclick -->
			<div id="posts-container" class="container posts">
				<div class="card" style="width: 18rem;">
					{{#each posts.discussion}}
					<div class="card-body" id={{id}}>
						<h5 class="card-title">{{title}}</h5>
						<h6 class="card-subtitle text-muted">Card subtitle</h6>
						<p class="card-text">{{preview}}</p>
						<a href="#" class="card-link">View discussion</a>
						<br /><br />
					</div>
					{{/each}}
				</div>
				<img src="https://png.pngtree.com/svg/20170809/jen_camera_add_740680.png" class="addCamera"
					data-toggle="modal" data-target="#uploadModal">
				<h5 class="back-button"><span class="glyphicon glyphicon-chevron-left"></span>Back</h5>
			</div>

			<div id="individual-post" class="container"></div>

			<div class="container"></div>
		</div>
	</body>

</html>
