<!doctype html>

<html>
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link href="/css/bootstrap.css" rel="stylesheet">
	<link href="/css/bootstrap-theme.css" rel="stylesheet">
	<link href="/css/discussion.css" rel="stylesheet">
</head>

{{> navbar}}

<body>
	<div class="container">
		<h2>Discussion</h2>

		<!-- Search bar -->
		<input class="form-control" type="text" placeholder="Search posts" aria-label="Search">

		<!-- Posts / need to add jQuery onclick -->
		<div id="posts-container" class="container posts">
			<div class="panel-group">
				<!-- Add posts via json file -->
				{{#each posts.discussion}}
				<div id={{id}} class="panel panel-default single-post">
					<div class="panel-heading">{{title}}</div>
					<div class="panel-body">{{preview}}</div>
				</div>
				<br />
				{{/each}}
			</div>
			<img src="https://png.pngtree.com/svg/20170809/jen_camera_add_740680.png" class="addCamera" data-toggle="modal" data-target="#uploadModal">
			<h5 class="back-button"><span class="glyphicon glyphicon-chevron-left"></span>Back</h5>
		</div>

		<div id="individual-post" class="container"></div>

		<div class="container">
			
		</div>
	</div>

	<script src="https://code.jquery.com/jquery.js"></script>
	<script src="/js/jquery-1.11.0.js"></script>
	<script src="/js/bootstrap.js"></script>
	<script src="/js/discussion.js"></script>
</body>
</html>
