<!doctype html>

<html>
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link href="/css/bootstrap.css" rel="stylesheet">
	<link href="/css/bootstrap-theme.css" rel="stylesheet">
	<link href="/css/discussion.css" rel="stylesheet">
</head>
<!-- Nav Bar!! -->
<nav class="navbar navbar-default">
  	<div class="container-fluid">
	    <div class="navbar-header">
	      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
	        <span class="sr-only">Toggle navigation</span>
	        <span class="icon-bar"></span>
	        <span class="icon-bar"></span>
	        <span class="icon-bar"></span>
	      </button>
	      <a class="navbar-brand" href="#">Treeable</a>
    	</div>
	</div>

	<div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <!-- text on left -->
      <ul class="nav navbar-nav">
      	<li><a href="home">Home</a></li>
      	<li><a href="profile">Profile</a></li>
      	<li><a href="leaderboard">Leaderboard</a></li>
      	<li><a href="discussion">Discussion</a></li>
      	<li><a href="gallery">Gallery</a></li>	
      </ul> 	
		<!-- text on Right -->
      <ul class="nav navbar-nav navbar-right">
        <li><a href="about">About</a></li>
        <li><a href="help">Help</a></li>
      	<li><a href="home">Log Out</a></li>
      </ul>
</nav>

<body>
	<div class="container">

	</div>

	<script src="https://code.jquery.com/jquery.js"></script>
	<script src="/js/jquery-1.11.0.js"></script>
	<script src="/js/bootstrap.js"></script>
</body>
<body>
<!--Begin here (or replace this with any static code already written). -->
</body>
<font size="69">Discussion Page Place Holder!</font>
</html>
