<!doctype html>

<html>

	<head>
		<title>Gallery</title>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<link href="/css/bootstrap.css" rel="stylesheet">
		<link href="/css/bootstrap-grid.css" rel="stylesheet">
		<link href="/css/gallery.css" rel="stylesheet">
		<link href="/css/navbar.css" rel="stylesheet">
		<link rel="stylesheet"
			href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
		<script src="https://code.jquery.com/jquery.js"></script>
		<script src="/js/jquery-1.11.0.js"></script>
		<script src="/js/bootstrap.bundle.js"></script>
		<script src="/js/galleryQuery.js"></script>
	</head>

	{{> navbar}}

	<body>
		<div class="container text-center">
			<h1>Good Work!</h1>
			<h2 class="count">{{data.photos.length}}</h2>
			<p>
				Uploads (and counting) <br />
				Check out your work below
			</p>
		</div>

		<div id="carousel">
			{{#each data.photos}}
				<img src="{{image}}" />
			{{/each}}
		</div>

		<img src="https://png.pngtree.com/svg/20170809/jen_camera_add_740680.png" class="addCamera" data-toggle="modal"
			data-target="#uploadModal">

		{{> upload}}

	</body>

</html>