<!doctype html>

<html>
<head>
	<title>Help and FAQ</title>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link href="/css/bootstrap.css" rel="stylesheet">
	<link href="/css/bootstrap-grid.css" rel="stylesheet">
	<link href="/css/help.css" rel="stylesheet">
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
	<script src="https://code.jquery.com/jquery.js"></script>
	<script src="/js/jquery-1.11.0.js"></script>
	<script src="/js/bootstrap.bundle.js"></script>
</head>

{{> cancelNavbar}}

<body>
	<div class="container">
		<div class="help-faq">
			<h1 align="left">Help and FAQ</h1>
		</div>

		<div class="leaderboard">
			<p id="leaderboard">
				<h3>Leaderboard:</h3>
				1) How to update ranking?
				<br />
				Ans: Press the camera button and open the camera to take a picture of you recycling.
				Upload the photo and wait for your score to update.
				
				<br /><br />
					
				2) How are you score?
				<br />
				Ans: You are being score by other people who are online to check if your 
				picture is real and if they approve,your points are increase.
				
				<br /><br />

				3) How do I find my ranking?
				<br />
				Ans: Your ranking can be found in the Rank tab in the navigation bar.
				In there, you will see a "my rank" button above the leaderboard rankings which shows you your rank.
			</p>
		</div>

		<div class="discussion">
			<p id="discussion">
				<h3>Discussion:</h3>
				1) What do I find in "Discussion"?
				<br />
				Ans: You can find all sorts of topics on recycling. It serves to improve people's knowledge on recycling. 
				You can also ask quesions on things you are not sure about.
				
				<br /><br />

				2) Do I need to login or have an account to use disccusion?
				<br />
				Ans: Yes, you need an account to do most things on Treeable
				
				<br /><br />

				3) How do I post a topic?
				<br />
				Ans: First Write a title on what your topic is, select a category to post in,
				write what your question or topic of disccusion is, and post.
			</p>
		</div>

		<div class="profile">
			<p id="profile">
				<h3>Profile:</h3>
				1) How do I change my username?
				<br />
				Ans: Go to Profile > setting > select change username.
				
				<br /><br />

				2) How do I link my social medias?<br />
				Ans: You can link your social media under Profile > Setting > Social Media.
				Now you can share your Gallery to your social media or search for friends!
				
				<br /><br />
			</p>
		</div>
		
		<div class="container">
			<h5 class="back-button" onclick="window.history.back()"><span class="glyphicon glyphicon-chevron-left"></span>Back</h5>
		</div>
	</div>
</body>

</html>