<!DOCTYPE html>

<html>
	<head>
		<title>Home</title>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
		<link href="/css/bootstrap.css" rel="stylesheet">
		<link href="/css/bootstrap-grid.css" rel="stylesheet">
		<link href="/css/home.css" rel="stylesheet">
		<script src="https://code.jquery.com/jquery.js"></script>
		<script src="/js/jquery-1.11.0.js"></script>
		<script src="https://cdn.jsdelivr.net/npm/apexcharts"></script>
		<script src="/js/home.js"></script>
		<script src="/js/bootstrap.bundle.js"></script>
	</head>
	{{> navbar}}

	<body>
		<div class="container text-center">
			<h2 class="text-center">Current Ranking: 3</h2>

			<div id="progress-chart">

			</div>

			<div class="row">
				<div class="container col-md-6">
					<a href="leaderboard"><button type="button" class="btn btn-secondary">Leaderboard</a>
				</div>
				<br />
				<div class="container col-md-6">
					<a href="discussion"><button type="button" class="btn btn-secondary">Discussion</a>
				</div>
			</div>
		</div>
		<img src="https://png.pngtree.com/svg/20170809/jen_camera_add_740680.png" class="addCamera">
	</body>
</html>