<!doctype html>

<html>

	<head>
		<title>Treeable</title>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<link href="/css/bootstrap.css" rel="stylesheet">
		<link href="/css/bootstrap-grid.css" rel="stylesheet">
		<link href="/css/index.css" rel="stylesheet">
		<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
		<script src="https://code.jquery.com/jquery.js"></script>
		<script src="/js/jquery-1.11.0.js"></script>
		<script src="/js/bootstrap.bundle.js"></script>
		<script src="/js/leaderboardQuery.js"></script>
		{{> facebook}}
		<script src="/js/facebook.js"></script>
	</head>

	<body>
		<div id="fb-root"></div>
		<script async defer src="https://connect.facebook.net/en_US/sdk.js#xfbml=1&version=v3.2&appId=2225404257524448&autoLogAppEvents=1"></script>

		<div class="container text-center h-100 w-100 d-flex justify-content-center align-items-center">
			<div class="row">
				<div class="col col-12">
					<h1 id="app-title">Treeable</h1>
					
					<div class="fb-login-button" data-size="large" data-button-type="continue_with" data-auto-logout-link="false" data-use-continue-as="false" scope="public_profile,email" onlogin="checkLoginState();" onclick="window.location.href='./home'"id="facebook-login"></div>
				</div>
			</div>
		</div>
		<div class="container h-100 w-100"> 
			{{> about}}
		</div>
	</body>

</html>