<!doctype html>

<html>

	<head>
		<title>Treeable</title>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<link href="/css/bootstrap.css" rel="stylesheet">
		<link href="/css/bootstrap-grid.css" rel="stylesheet">
		<link href="/css/index.css" rel="stylesheet">
		<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
		<script src="https://code.jquery.com/jquery.js"></script>
		<script src="/js/jquery-1.11.0.js"></script>
		<script src="/js/bootstrap.bundle.js"></script>
		<script src="/js/leaderboardQuery.js"></script>
		{{> facebook}}
		<script src="/js/facebook.js"></script>
	</head>

	<body>
		<div class="container-fluid text-center h-100 w-100 d-flex justify-content-center align-items-center">
			<div class="row">
				<div class="col col-12">
					<h1 id="app-title">Treeable</h1>
					<button type="button" class="btn btn-secondary" data-toggle="modal" data-target="#signupModal">
						Sign Up
					</button>
					<p class="paragraph">Already a Member? <a onclick="checkLoginState()">Log In</a></p>
				</div>
			</div>
		</div>
	</body>

</html>