<!doctype html>

<html>
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link href="/css/bootstrap.css" rel="stylesheet">
	<link href="/css/bootstrap-theme.css" rel="stylesheet">
	<link href="/css/profile.css" rel="stylesheet">
</head>

{{> cancelNavbar}}

<body>
	<div class="container">
		 <div class="row">
		 	{{#if data.profile}}
		 		<div class="col-xs-6">
			  	<h3 id="profileName">{{name}}</h3>
			  	<dl>
				    <dd id="profileEmail">{{email}}</dd>
				</dl> 
			  </div>
			  <div class="col-xs-6">
			  	<img class="member_image" id= "profilePhoto" src={{image}}><!--might need to add quotes to image!!-->
			  </div>
		 	{{else}}
			  <div class="col-xs-6">
			  	<h3 id="profileName">Full Name</h3>
			  	<dl>
				    <dd id="profileEmail">example@email.com</dd>
				</dl> 
			  </div>
			  <div class="col-xs-6">
			  	<img class="member_image" src="https://www.flynz.co.nz/wp-content/uploads/profile-placeholder.png">
			  </div>
			  {{/if}}
		</div> 
		<label id="inputField">Change your name</label>
		<div class="input-group">
		  <input type="text" id="inputName" class="form-control" placeholder="first last">
		  <span class="input-group-btn" id="changeName">
		    <button class="btn btn-default" type="button" id="changeName">Go!</button>
		  </span>
		</div>
		<label id="inputField">Change your email</label>
		<div class="input-group">
		  <input type="text" class="form-control" id="inputEmail" placeholder="name@example.com">
		  <span class="input-group-btn">
		    <button class="btn btn-default" type="button" id="changeEmail">Go!</button>
		  </span>
		</div>
		<div class="form-check">
		    <input type="checkbox" class="form-check-input" id="exampleCheck1">
		    <label class="form-check-label" for="exampleCheck1">Share your information with your friends</label>
		</div>

		<button onclick="location.href='./index'" type="button" id="clearData" class="clearButton">Log Out</button>

		<button onclick="location.href='./index'" type="button" id="clearData" class="deleteButton" href="index">Delete Account</button>
		<h5 class="backButton" onclick="window.history.back();"><span class="glyphicon glyphicon-chevron-left"></span>Back</h5>

	</div>

	<script src="https://code.jquery.com/jquery.js"></script>
	<script src="/js/jquery-1.11.0.js"></script>
	<script src="/js/bootstrap.js"></script>
	<script src="/js/profileQuery.js"></script>
</body>
</html>