img {
    max-width: 100%;
    height: 300px;
    width: 300px;
    margin: 10px;


}

.backButton{
    margin: 0;
    position: absolute;
    top: 92%;
    left: 7%;
    -ms-transform: translate(-7%, -92%);
    transform: translate(-7%, -92%);
}
.backButton:hover{
    color: gray;
    cursor: pointer;
}
.dropDown:hover {
  background-color: #ffffff; 
  color: black;
}
#carousel {
    width: 100%;
    height: 300px;
    background-color: #ffffff;
    
    overflow-y: hidden;
    overflow-x: scroll;
    white-space:nowrap;
}

#carousel .slide {
    margin-left: 15px;
    margin-right: 15px;
    display: inline-block;
}
