body {
    padding-top: 50px;
}

.back-button{
    margin: 0;
    border-top: 10px;
    padding-top: 10px;
    -ms-transform: translate(-7%, -92%);
    transform: translate(-7%, -92%);
}
.back-button:hover{
    color: gray;
    cursor: pointer;
}