.btn.btn-square {
    border-radius: 0;
    height: 7rem;
    width: 7rem;
}

.btn.btn-clear {
    background-color: transparent;
}

.custom-camera {
    font-size: 200px;
    padding-top: 10px;
    padding-bottom: 3px;
}

body {
    padding-top: 65px;
}

#progress-chart {
    padding-top: 20px;
    padding-bottom: 20px;
}