/* IDs */
#app-title {
	padding-bottom: 30px;
}

#chevron {
	padding-top: 70px;
}

/* Classes */
.login {
	width: 100%;
}

.login-div {
	padding-bottom: 30px;
}

/* Tags */
html, body {
	height: 100%;
}
