
h1, h2, h3, h5 {
	margin-bottom: 30px;
	margin-top: 70px;

}
h4 {
	margin-bottom: 10px;
	margin-top: 10px;
}

.count{
	font-size: 50px;
	margin-top: 5px;
	text-align: center;
}

.rankingButton {
    border-radius: 10px; 
    margin-top: 1px;
    text-align: center; 
    padding: 10px 20px;
    -webkit-transition-duration: 0.4s; /* Safari */
    transition-duration: 0.4s;
    border: white;
  
}
.rankingButton:hover {
  background-color: #ffffff; 
  color: black;
}

.backButton{
    margin: 0;
    border-top: 10px;
    padding-top: 10px;
    -ms-transform: translate(-7%, -92%);
    transform: translate(-7%, -92%);
}
.backButton:hover{
    color: gray;
    cursor: pointer;
}

/* .fixed_header tbody{
  display:block;
  overflow:auto;
  height:200px;
  width:100%;
}

.fixed_header thead tr{
  display:block;
} */



