/* IDs */


/* Classes */

.backButton {
	margin: 0;
	position: absolute;
	top: 92%;
	left: 7%;
	-ms-transform: translate(-7%, -92%);
	transform: translate(-7%, -92%);
}

.backButton:hover {
	color: gray;
	cursor: pointer;
}

.member_image {
	border-radius: 25px;
	max-width: 100%;
}
.tree_image {
	border-radius: 25px;
	max-width: 93%;
}

/* Tags */

body {
	padding-top: 65px;
}

a {
	color: black;
	text-decoration: none;
}

a:hover {
	color: #7c8483;
	text-decoration: none;
	cursor: pointer;
}
button{
	margin-top: 100px;
}