/* IDs */


/* Classes */

.member_image {
	border-radius: 25px;
	max-width: 100%;
}

.tree_image {
	border-radius: 25px;
	max-width: 93%;
}

.profile-btn{
	background-color: #c4822d;
	border-color: #c4822d;
}

/* Tags */

body {
	padding-top: 65px;
}

a {
	color: black;
	text-decoration: none;
}

a:hover {
	color: #7c8483;
	text-decoration: none;
	cursor: pointer;
}

button{
	margin-top: 100px;
}